
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Apply for a juggling licence

      </h1>
      <p>
        If you're applying for a juggling licence, you're in the right place. Well done.
      </p>



      <h2 class="govuk-heading-m"> :)  @^__^@ </h2>

      <p>This is a start page. It will take you to the super cool service that Katie has built.</p>

      <p>Enjoy!</p>

  <a href="/start"> Go to Apply for a juggling licence </a>


    </div>
</div>

{% endblock %}
